xmls/
bosch-metadata-reader/combined_vehicle_stats_expanded.csv
bosch-metadata-reader/combined_vehicle_stats_with_derivatives.csv
.env
bosch-metadata-reader/combined_vehicle_stats_expandedNEW.csv
graph/combined_vehicle_stats_expandedNEW.csv