xmls/
bosch-metadata-reader/combined_vehicle_stats_expanded.csv
bosch-metadata-reader/combined_vehicle_stats_with_derivatives.csv
.env
bosch-metadata-reader/combined_vehicle_stats_expandedNEW.csv
graph/combined_vehicle_stats_expandedNEW.csv
graph/connection.ini
graph/output3.json
visualization/connection.ini
.venv
HoldingFiles

graph/__pycache__
visualization/__pycache__
bosch-metadata-reader/incident_detection/__pycache__
bosch-metadata-reader/__pycache__